################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Automation/DesignTimeBuild/.dtbcache.v2
/.vs/Automation/v17/.suo
/.vs/ProjectEvaluation/automation.metadata.v5.2
/.vs/ProjectEvaluation/automation.projects.v5.2
/.vs/Automation/config/applicationhost.config
/.vs/Automation/FileContentIndex/41cb7ed6-cbdc-4ea1-a918-ef87f545fb0f.vsidx
/.vs/Automation/FileContentIndex
/.vs/Automation/v17/.futdcache.v2
/AutomationWebApp/.config/dotnet-tools.json
/AutomationWebApp/bin/Debug/net7.0/publish
/AutomationWebApp/bin/Debug/net7.0/AutomationWebApp.dll
/AutomationWebApp/bin/Debug/net7.0/AutomationWebApp.pdb
/AutomationWebApp/bin/Release/net7.0
/AutomationWebApp/obj/Debug/net7.0/PubTmp/Out
/AutomationWebApp/obj/Debug/net7.0/ref/AutomationWebApp.dll
/AutomationWebApp/obj/Debug/net7.0/refint/AutomationWebApp.dll
/AutomationWebApp/obj/Release/net7.0/staticwebassets
/AutomationWebApp/obj/Release/net7.0/PubTmp/Out
/AutomationWebApp/obj/Release/net7.0/ref
/AutomationWebApp/obj/Release/net7.0/refint
/AutomationWebApp/obj/Release/net7.0
/AutomationWebApp/obj/AutomationWebApp.csproj.EntityFrameworkCore.targets
/AutomationWebApp/obj/Debug/net7.0/AutomationWebApp.dll
/AutomationWebApp/obj/Debug/net7.0/AutomationWebApp.pdb
/AutomationWebApp/obj/Debug/net7.0
/AutomationWebApp/AutomationWebApp.csproj.user
