################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Automation/DesignTimeBuild/.dtbcache.v2
/.vs/Automation/v17/.suo
/.vs/ProjectEvaluation/automation.metadata.v5.2
/.vs/ProjectEvaluation/automation.projects.v5.2
